<div class="slider">
  <div class="over-slider">
    Al Foundation
    <p>is focused od inspiring the next generation of kids </p>
    <p>Healthcare professionals</p>
    <button>Donate Now</button>
  </div>

  <i class="fa fa-chevron-left prev" aria-hidden="true"></i>
  <Section class="img-slider">
    <div class="slider-container">

      <div class="slide">
        <img src="http://res.cloudinary.com/hurricane10/image/upload/v1499778117/img-23_pumtse.jpg">
      </div>

      <div class="slide">
        <img src="http://res.cloudinary.com/hurricane10/image/upload/v1499778117/img-23_pumtse.jpg">
      </div>

      <div class="slide">
        <img src="http://res.cloudinary.com/hurricane10/image/upload/v1499778117/img-23_pumtse.jpg">
      </div>

    </div>
  </Section>
  <i class="fa fa-chevron-right next" aria-hidden="true"></i>

  <!-- <img src="images/slider1.jpg"> -->
  <ul class="bukkets">
    <li class="active"></li>
    <li></li>
    <li></li>
  </ul>
</div>


<app-home-news-listing></app-home-news-listing>
<!--  -->

<div class="services">
  <img src="http://placehold.it/2500x600/DDD">
  <div class="txt-serv">
    <p>How we have helped</p>
    <p>See hoe Al Foundation have promed change locally and to the world</p>
  </div>
  <div class="shape-serv">

    <div class="side-shape">
      <div class="content">
        <i class="fa fa-map-marker icon" aria-hidden="true"></i>
        <p>Test</p>
        <i class="fa fa-plus" aria-hidden="true"></i>
      </div>
    </div>
    <div class="side-shape">
      <div class="content">
        <i class="fa fa-map-marker icon" aria-hidden="true"></i>
        <p>Test</p>
        <i class="fa fa-plus" aria-hidden="true"></i>
      </div>
    </div>
    <div class="side-shape">
      <div class="content">
        <i class="fa fa-map-marker icon" aria-hidden="true"></i>
        <p>Test</p>
        <i class="fa fa-plus" aria-hidden="true"></i>
      </div>
    </div>
    <div class="side-shape">
      <div class="content">
        <i class="fa fa-map-marker icon" aria-hidden="true"></i>
        <p>Test</p>
        <i class="fa fa-plus" aria-hidden="true"></i>
      </div>
    </div>

    <div class="side-shape before-last">
      <div class="content">
        <i class="fa fa-map-marker icon" aria-hidden="true"></i>
        <p>Test</p>
        <i class="fa fa-plus" aria-hidden="true"></i>
      </div>
    </div>
    <div class="side-shape">
      <div class="content">
        <i class="fa fa-map-marker icon" aria-hidden="true"></i>
        <p>Test</p>
        <i class="fa fa-plus" aria-hidden="true"></i>
      </div>
    </div>
    <div class="side-shape">
      <div class="content">
        <i class="fa fa-map-marker icon" aria-hidden="true"></i>
        <p>Test</p>
        <i class="fa fa-plus" aria-hidden="true"></i>
      </div>
    </div>



  </div>
</div>


<!--  -->
