<!--  -->


<div class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="about">
        <ul>
          <li>News</li>
          <li>Event</li>
          <li>About</li>
          <li>FAQs</li>
        </ul>
      </div>
      <div class="privacy">
        <ul>
          <li>Privacy Police</li>
          <li>Contact Us</li>
          <li>Compins</li>
        </ul>
      </div>
      <div class="contact">
        <p> Subscribe to Newsletter</p>
        <input class="input-box" type="text" placeholder="Enter Address">
        <button>Subscribe</button>
      </div>
      <div class="social">
        <p> Following us on</p>
        <ul>
          <li><i class="fa fa-instagram"></i></li>
          <li><i class="fa fa-youtube"></i></li>
          <li><i class="fa fa-facebook"></i></li>
          <li><i class="fa fa-linkedin"></i></li>
          <li><i class="fa fa-twitter"></i></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="copy-rith">
  All eights reserver - link Development Company © 2020
</div>
