/*media responsive*/

@mixin minMedium {
    @media #{$minMedium} {
        @content;
    }
}

/* prefixes Mixin*/

@mixin prefixer($property,$value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value
    }
    #{$property}: $value;
}

/* transition Mixin*/ 

@mixin transition($args...) {
    -webkit-transition: $args; 
    -moz-transition: $args; 
    -o-transition: $args; 
    transition: $args; 
 }

 /* keyFrame Mixin*/ 

 @mixin keyFrame($animation-name) {
    @-webkit-keyframes #{$animation-name}{
        @content;
    }
    @-moz-keyframes #{$animation-name}{
        @content;
    }
    @keyframes #{$animation-name}{
        @content;
    }
}

 /* opacity Mixin*/ 
@mixin opacity($value) {
    zoom: 1;
    $opacity-ie: $value * 100;
    filter: alpha(opacity = $opacity-ie);
    -webkit-filter: alpha(opacity = $opacity-ie);
    opacity: $value;
 }