$maxMobile: "(max-width: 735px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";

$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";

$float-left: left;
$float-right: right;

$text-left: left;
$text-right: right;
