<!--  -->

<div class="news">
  <div class="container">
    <div class="bar-notfiy">
      <ul>
        <li class="active">Home </li> <span>></span>
        <li>News </li>
      </ul>
    </div>
    <div class="head-with-border-list">
      <h2>News</h2>
    </div>
    <div class="serch-bar">
      <div class="date-start">
        <label for="start">From</label>
        <input class="input-box" type="date" id="start" name="trip-start">
      </div>
      <div class="date-end">
        <label for="to">To</label>
        <input class="input-box" type="date" id="start" name="trip-start">
      </div>
      <div class="categuries">
        <label for="categuries">Categury</label>
        <select class="input-select" id="categuries" name="categuries">
          <option selected value="">Select</option>
          <option value="test1">test 1</option>
          <option value="test2">test 2</option>
          <option value="test3">test 3</option>
          <option value="test4">test 4</option>
        </select>
      </div>
      <div class="box-serch">
        <input class="input-box" type="text" placeholder="Enter Address">
        <button><i class="fa fa-search"></i></button>
      </div>
      <div class="sort">
        <a>Sort by <i class="fa fa-long-arrow-up"></i><i class="fa fa-long-arrow-down"></i></a>
      </div>
    </div>

    <app-news-card></app-news-card>


    <div class="clearfix"></div>
  </div>
</div>
<!--  -->
