<!--  -->

<div class="news">
  <div class="container">
    <div class="bar-notfiy">
      <ul>
        <li class="active" [routerLink]="['/home']">Home </li> <span>></span>
        <li>News </li>
      </ul>
    </div>
    <div class="head-with-border-list">
      <h2>News</h2>
    </div>
    <form [formGroup]="filterForm">
      <div class="serch-bar">
        <div class="date-start">
          <label for="start">From</label>
          <input class="input-box" formControlName="from" type="date" id="start">
        </div>
        <div class="date-end">
          <label for="to">To</label>
          <input class="input-box" formControlName="to" type="date" id="to">
        </div>
        <div class="categuries">
          <label for="categories">Category</label>
          <select class="input-select" id="categories" formControlName="categoryId" name="categories">
            <ng-container *ngFor="let categoryItem of categoriesList">
              <option [value]="categoryItem.id">
                {{ categoryItem.name }}
              </option>
            </ng-container>
          </select>
        </div>
        <div class="box-serch">
          <input class="input-box" type="text" formControlName="searchInput" placeholder="Tite">
          <button (click)="onSubmit()"><i class="fa fa-search"></i></button>
        </div>
        <div class="filter">
          <button class="reset" (click)="resetFilter()">Reset</button>
        </div>
        <div class="sort">
          <a (click)="sort()">Sort by <i class="fa fa-long-arrow-up"></i><i class="fa fa-long-arrow-down"></i></a>
        </div>
      </div>
    </form>




    <div *ngFor="let newsItem of newsList">
      <app-news-card [newsItem]='newsItem'></app-news-card>
    </div>


    <div class="clearfix"></div>

    <div class="pagenation">
      <ul class="bukkets">
        <i class="fa fa-chevron-left prev" [class.dimmed]="pageNumber == 1" (click)="previousPage()"
          aria-hidden="true"></i>
        <li [class.active]="page == pageNumber" (click)="changePage(page)" *ngFor="let page of pages">{{page}}</li>
        <i class="fa fa-chevron-right next" (click)="nextPage()" [class.dimmed]="pageNumber == pages.length"
          aria-hidden="true"></i>
      </ul>
    </div>
  </div>
</div>
<!--  -->
