%align-center {
  display: flex;
  align-items: center;
}

.navbar {
  background: $mainColor;
  height: 80px;
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;

  &__logo {
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin-left: 24px;
    @extend %align-center;
  }
  .open-side {
    position: absolute;
    left: 10%;
    i {
      font-size: 30px;
      position: absolute;
      margin-top: 14px;
      color: $light;
    }
    @media #{$maxMobile} {
      display: none;
    }
    @media #{$minMedium} {
      display: none;
    }
    @media #{$minLarge} {
      display: block;
    }
  }
  .side-menu {
    background-color: $mainColor;
  }
  .navbar-side {
    position: fixed;
    left: 0%;
    width: 25%;
    height: 100%;
    top: 77px;
    background-color: $mainColor;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    @media #{$maxSmall} {
      width: 80%;
    }
    @media #{$minMedium} {
      width: 45%;
    }
    @media #{$maxMobile} {
      display: none;
    }
    .socia {
      position: relative;
      color: $light;
      font-size: 40px;
      ul {
        position: absolute;
        display: grid;
        margin-top: 50%;
        i {
          margin-bottom: 30px;
        }
      }
    }
    .links {
      ul {
        padding-left: 130px;
        color: $light;
        font-size: 45px;
        line-height: 1.7;
        li {
          a {
            text-decoration: none;
            color: $textColor;
            font-size: 18px;
            display: block;
          }
        }
      }
      .contact-us {
        margin-top: 17%;
      }
      .active {
        color: $scandColor;
      }
    }
  }
  .setting-menue {
    position: absolute;
    background-color: $light;
    width: 145px;
    padding-left: 11px;
    border: 2px solid $light;
    border-radius: 6%;
    top: 80%;
    @media #{$maxSmall} {
      right: 4%;
    }
    @media #{$minMedium} {
      right: 40px;
    }
    @media #{$minLarge} {
      right: 26%;
    }

    @media #{$maxMobile} {
      display: none;
    }
    .links {
      position: relative;
      ul {
        color: $textColor;
        &:not(:last-child) {
          border-bottom: 1px solid $grayColor;
        }
        li {
          padding-top: 5px;
          padding-bottom: 4px;
          a {
            text-decoration: none;
            color: $dark;
            line-height: 2px;
          }
        }

        .active {
          color: $scandColor;
        }
        .font-size {
          display: flex;
          justify-content: start;
          align-items: baseline;
          .font1 {
            font-size: 35px !important;
            font-weight: bold;
            color: $dark;
          }
          .font2 {
            font-size: 25px !important;
            font-weight: bold;
            margin-left: 8px;
          }
          .font3 {
            font-size: 15px !important;
            font-weight: bold;
            margin-left: 10px;
            color: $dark;
          }
        }
      }
      .theme-change {
        i {
          font-size: 40px;
        }
      }
      .active {
        color: $scandColor;
      }
      .check-mark {
        position: absolute;
        color: $scandColor;
        top: 8%;
        right: 15%;
        font-size: 22px;
      }
    }
  }

  &__bars {
    opacity: 0;
  }

  &__menu {
    @extend %align-center;
    list-style: none;
    text-align: center;
    margin-right: 24px;

    @include tablet {
      display: none;
    }

    &--links {
      color: $light;
      @extend %align-center;
      justify-content: center;
      text-decoration: none;
      padding: 0 1rem;
      img {
        margin-right: 9px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }
    .hoverlink:hover {
      background-color: $scandColor;
      height: 22px;
      width: 6px;
      transition: all 0.3s ease;
      border-radius: 5%;
      -webkit-border-radius: 5%;
      -moz-border-radius: 5%;
      -ms-border-radius: 5%;
      -o-border-radius: 5%;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
    }
  }
}
