.box-item {
  margin-top: 2%;
  .bar-notfiy {
    padding-top: 3%;
    @media #{$minMedium} {
      padding-top: 7%;
    }
    @media #{$minLarge} {
      padding-top: 3%;
    }
    @media #{$maxSmall} {
      padding-top: 9%;
    }
    ul {
      display: flex;
      span,
      li {
        color: $textColor;
        margin-right: 1%;
      }
    }
    .active {
      color: $mainColor;
    }
  }
  h2 {
    font-size: 30px;
  }
  .head-with-border {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .card-box {
    background-color: $light;
    float: $float-left;
    margin-bottom: 20px;
    box-shadow: 0px 9px 28px $grayColor;
    border: 1px solid $grayColor;
    margin-left: 10px;
    color: $dark !important;
    img {
      width: 100%;
      margin-bottom: 2%;
    }
    .head-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .icon-box {
        display: flex;
        justify-content: flex-end;
        color: $scandColor;
        i {
          margin-left: 0%;
          font-size: 18px;
          margin-top: 4px;
          margin-right: 32%;
        }
      }
      .card-title {
        padding-left: 5%;
      }
    }

    @media #{$minSmall} {
      width: (100% / 1);
      padding-left: 0px;
      padding-right: 0px;
    }
    @media #{$maxMobile} {
      width: 100%;
      float: none;
    }

    .categury,
    p {
      color: $textColor;
      padding-left: 5%;
    }
  }
}

/*end card*/
