body {
  margin: 0;
  background-color: $light;
  font: {
    family: Tahoma;
    size: 16px;
  }
}

ul,
ol {
  list-style: none;
  padding: 0;
}
li {
  cursor: pointer;
}

.main {
  background-color: var(--scandary-bg) !important;
  color: var(--color);
}
