.news {
  margin-top: 2%;
  .bar-notfiy {
    position: relative;
    @media #{$minMedium} {
      padding-top: 7%;
    }
    @media #{$minLarge} {
      padding-top: 3%;
    }
    ul {
      display: flex;
      span,
      li {
        color: $textColor;
        margin-right: 1%;
      }
    }
    .active {
      color: $mainColor;
    }
  }

  h2 {
    font-size: 30px;
  }
  .serch-bar {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 108px;
    margin-left: 16px;
    padding: 3px;
    @media #{$maxMobile} {
      justify-content: space-between;
    }
    @media #{$minSmall} {
      width: (96% / 1);
    }
    .date-start,
    .date-end,
    .categuries {
      position: relative;
      @media #{$maxMobile} {
        margin-bottom: 4%;
      }
      label {
        position: absolute;
        bottom: 100%;
      }
      .input-box {
        padding: 10px;
        background-color: $light;
        border: 2px solid $grayColor;
        border-radius: 7%;
        -webkit-border-radius: 7%;
        -moz-border-radius: 7%;
        -ms-border-radius: 7%;
        -o-border-radius: 7%;
      }
    }
    .categuries {
      .input-select {
        border: 2px solid $grayColor;
        padding: 10px;
        background-color: $light;
        border-radius: 7%;
        -webkit-border-radius: 7%;
        -moz-border-radius: 7%;
        -ms-border-radius: 7%;
        -o-border-radius: 7%;
      }
    }
    .filter {
      button {
        background-color: $scandColor;
        font-size: 22px;
        padding: 4px;
        border-radius: 12%;
        color: $light;
        border: 1px solid $scandColor;
      }
      .reset {
        margin-left: 2px;
      }
      @media #{$maxMobile} {
        padding-top: 4%;
      }
    }
    .box-serch {
      .input-box {
        width: 300px;
        padding: 10px;
        background-color: $light;
        border: 2px solid $grayColor;
        border-radius: 7%;
        -webkit-border-radius: 7%;
        -moz-border-radius: 7%;
        -ms-border-radius: 7%;
        -o-border-radius: 7%;
      }
      button {
        border: 2px solid $scandColor;
        background-color: $scandColor;
        color: $light;
        padding: 10px;
        border-radius: 7%;
        -webkit-border-radius: 7%;
        -moz-border-radius: 7%;
        -ms-border-radius: 7%;
        -o-border-radius: 7%;
      }
    }
    .sort {
      color: $scandColor;
      @media #{$maxMobile} {
        padding-top: 2%;
      }
    }
  }
  .head-with-border-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .link {
      text-decoration: none;
      color: $scandColor;
    }
  }
  .news-box {
    background-color: $light;
    height: 51vh;
    float: $float-left;
    margin-bottom: 20px;
    box-shadow: 0px 9px 28px $grayColor;
    border: 1px solid $grayColor;
    margin-left: 10px;
    color: $dark !important;
    img {
      width: 100%;
      height: 225px;
    }
    .icon-box {
      display: flex;
      justify-content: flex-end;
      color: $scandColor;
      i {
        margin-left: 1%;
        font-size: 20px;
        margin-top: 4px;
        margin-right: 2%;
      }
    }
    .news {
      background-color: $grayColor;
      color: $dark;
      font-size: 15px;
      margin-left: 5%;
      padding: 1% 5%;
      border-radius: 20%;
      -webkit-border-radius: 20%;
      -moz-border-radius: 20%;
      -ms-border-radius: 20%;
      -o-border-radius: 20%;
    }
    @media #{$minSmall} {
      width: (96% / 2);
      padding-left: 20px;
      padding-right: 20px;
    }
    @media #{$minMedium} {
      width: (90% / 3);
      padding-left: 0;
      img {
        width: 105%;
      }
    }
    @media #{$maxMobile} {
      width: 100%;
      float: none;
      padding-right: 0px;
      .icon-box {
        i {
          margin-left: 4%;
          font-size: 30px;
          margin-top: 4px;
          margin-right: 2%;
        }
      }
    }
    .news-title {
      padding-left: 5%;
    }
    .link {
      color: $scandColor;
      text-decoration: none;
      padding-left: 5%;
      padding-bottom: 5%;
      display: block;
      span {
        color: $textColor;
        margin-left: 2%;
      }
    }
    p {
      color: $textColor;
      padding-left: 5%;
    }
  }
  .pagenation {
    .bukkets {
      display: flex;
      justify-content: center;
      align-items: center;
      i,
      li {
        background-color: $grayColor;
        padding: 15px;
        margin: 6px;
        border-radius: 15%;
        font-size: 12px;
      }
      i {
        color: $scandColor;
      }
      .active {
        background-color: $scandColor !important;
      }
    }
  }
}

/*end news*/
